body {
    font-family: Arial, sans-serif;
}

h1, h2, h5 {
    color: #2e7d32; /* verde escuro */
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
    object-fit: cover;
    height: 200px;
}